<div class="big-card__container">
    <div class="big-card__photo">
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--bpx-IEW7--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/shcwa40hgffwns0d8jxy.png"
            alt=""
        >
    </div>
    <a href="">
        <div class="big-card__title">
            <h1>Titulo Componente</h1>
        </div>
        <div class="big-card__description">
            <p>
                descrição do componente descrição do componente descrição do componente descrição do componente
            </p>
        </div>
    </a>
</div>