<app-menu-title></app-menu-title>

<div class="articles__container">
    <div class="articles__main">
        <app-big-card id="1"
                    photoCover="https://res.cloudinary.com/practicaldev/image/fetch/s--bpx-IEW7--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/shcwa40hgffwns0d8jxy.png"
                    cardTitle="Angular News"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor dolor elit, vel consequat odio ullamcorper ac. In euismod mi dui, eget placerat lectus bibendum id. Phasellus vitae bibendum elit. Nam non lacus placerat, iaculis lacus vitae, egestas tellus.">
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card id="2"
                        photoCover="https://miro.medium.com/v2/resize:fit:1000/1*1u2p917cvlyP6SuHcq3t0Q.jpeg"
                        cardTitle="HTML News">
        </app-small-card>
        <app-small-card id="3"
                        photoCover="https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/1129786/retina_1708x683_01-Cover-87a7296050000bf3ac3694aee7fad051.png"
                        cardTitle="CSS News">
        </app-small-card>
        <app-small-card id="4"
                        photoCover="https://www.educative.io/v2api/editorpage/5765104277651456/image/5194598537232384"
                        cardTitle="Typescript News">
        </app-small-card>
    </div>
</div>